@model Lanche

<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
    <div class="card h-100 shadow">
        <img src="@Model.ImagemUrl" class="card-img-top" alt="@Model.Nome" aria-label="@Model.Nome">
        <div class="card-body">
            <h4 class="card-title">@Model.Nome</h4>
            <h5 class="card-subtitle mb-2 text-muted">Preço: @Model.Preco.ToString("C")</h5>
            <p class="card-text">@Model.DescricaoCurta</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-controller="Lanches" asp-action="Details" asp-route-Id="@Model.Id">
                Ver detalhes
            </a>
            <a class="btn btn-secondary" asp-controller="CarrinhoCompras" asp-action="Adicionar"
                asp-route-Id="@Model.Id">
                Adicionar ao carrinho
            </a>
        </div>
    </div>
</div>
