@model Lanche

<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">
                <img src="@Model.ImagemUrl" class="card-img-top" alt="" />
            </div>

            <div class="card-block">
                <h2 class="card-title text-center">@Model.Nome</h2>
                <p class="card-text text-center">@Model.DescricaoDetalhada</p>

                <p class="btn btn-group align-content-lg-center">
                    <a href="@Url.Action("Index", "Lanche")" class="btn btn-primary">Voltar</a>
                    <a href="@Url.Action("AdicionarItem", "CarrinhoCompras", new { id = Model.Id })"
                        class="btn btn-success">Adicionar ao carrinho</a>
            </div>
        </div>
    </div>
</div>